/* Estilos Gerais */
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  main {
    color: #0000008c;
    margin-bottom: 60px;
  }
  
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }
  
  .container-conteudo {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  .container-conteudo h2, .container-conteudo h3 {
    margin:0;
  }
  
  /* Início CSS Topo */
  .topo {
    background-color: #00cad1;
    width: 100%;
  }
  .topo .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 60px;
    padding: 0 10px;
    margin: 0 auto;
  }
  
  .topo-titulo {
    font-weight: 600;
    font-size: 28px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .topo-titulo a {
    display: flex;
  }
  
  .topo-logo {
    height: 60px;
  }
  
  .topo-links{
    display: flex;
  }
  
  .topo-links a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
  }
  
  .topo-links a:hover {
    color: #004b4c;
  }
  /* Fim CSS Topo */
  
  
  /* Início CSS Rodapé */
  footer {
    background-color: #0d6e71;
    color: #fff;
    padding: 20px;
  }
  
  footer .container {
    text-align: center;
  }
  /* Fim CSS Rodapé */
  
  
  #sobre,
  #especialidades,
  #contato {
    padding: 40px 20px 0;
  }
  
  .box-visao-geral {
    position: relative;
    background-image: url('../assets/recepcao.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
  }
  
  .box-visao-geral-titulo{
    height: 100%;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .box-visao-geral h1 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 38px;
    margin: 0;
  }
  
  .box-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px; /* Adiciona espaço entre a imagem e o texto */
    margin-top: 30px;
  }
  
  .box-sobre h3 {
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .box-sobre img {
    height: 250px;
  }
  
  .box-especialidades {
   display: flex;
    flex-direction: column; /* um embaixo do outro (como na sua imagem) */
    gap: 40px;
    align-items: center; /* Centraliza os cards horizontalmente */
    margin-top: 30px;
  }

  /* Card */
.card {
    position: relative; /* 🔥 IMPORTANTE (base para o texto ficar por cima) */
    width: 100%;
    max-width: 700px;
}

/* Imagem */
.card img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

/* Texto sobre a imagem */
.card figcaption {
    position: absolute; /* 🔥 coloca em cima da imagem */
    top: 20px;          /* distância do topo */
    left: 20px;         /* distância da esquerda */

    color: white;
    font-size: 20px;
    font-weight: bold;

    background: rgba(0, 0, 0, 0.6); /* fundo escuro transparente */
    padding: 8px 15px;
    border-radius: 6px;
}

  
  .box-link-horarios {
    text-align: center;
    margin-top: 20px;
  }
 /* .link-horarios:hover {
    background-color: #0d6e71; /* Cor igual ao rodapé */
    transition: 0.3s;
}*/
  
  .link-horarios {
    background-color: antiquewhite;
    color:white
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
  } 

  @media (max-width: 1024px) {
    .box-visao-geral { height: 400px;}
  }
  
  @media (max-width: 768px) {
    .box-visao-geral { height: 300px;}
    .box-sobre img {flex-direction: column; text-align: center;}
    .box-especialidades {justify-content: center;}
    .box-especialidade {
      width: calc(100% / 2 - 40px);
    }
  }
  
  @media (max-width: 425px) {
    .box-visao-geral { height: 200px;}
    .box-visao-geral h1 { font-size: 28px;}
    .box-especialidade {
      width: 100%;
    }
  }
  

  